/*
#

*/
@font-face {
  font-family: 'Pixelogist';
  src: url('../font/PixeloidSans.ttf') format('truetype');
  }

body {
  margin: 0;
  font-family: 'Pixelogist';
  height : 100%;
  width: 100% ;
  background-color: #f96c00;
  overflow-x: hidden;
}

.all{
  display: inline-grid;
  background: linear-gradient(to bottom, #f96c00, #fb9b01);
  background-repeat: no-repeat;
  grid-template-columns: 15vw 70vw 15vw;
  height : 100%;
}
.left_panel{
  grid-column: 1;
  grid-row: 1;
  background: linear-gradient(to bottom, #f96c00, #fb9b01);
}

div.content h1{
  display: flex;
  color: #f96c00;
  justify-content: center;
  align-items: center;
}

.content{
  z-index:2;
  border-radius: 20% 20% 0% 0%;
  background-color: #e8e8e8;
  grid-column: 2;
  grid-row: 1;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  font-size: 1.5vw;
  box-shadow: 0em 0em 0.5em 1em rgba(255, 255, 255, 0.185);
}
.right_panel{
  grid-column: 3;
  grid-row: 1;
  background: linear-gradient(to bottom, #f96c00, #fb9b01);
}

.right_panel .left_panel{
/* background-color: #fb9b01; */
background: linear-gradient(to bottom, #f96c00, #fb9b01);
width: 20%;
}

.all{
margin-top: 1vh;
/* height: 85%; */
width: 100%;
height: 100%;
}

nav.menu {
  border-radius: 0% 0% 20% 20%;
  background-color: #00000063;
  width: 100%;
  margin-bottom: 0%;
  height: 15%;
  /* padding-left: 1vw;
   padding-right: 1vw; */

}

nav.menu[autohide="true"]:hover {
  margin-bottom: 0%;
  height: 15%;
  transform: translateY(0);
  transition-delay: 0s;
  transition-property: transform margin-bottom height;
}

nav.menu[autohide="true"] {
  height: 3%;
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: translateY(-80%);
  margin-bottom: -5%;
  transition-delay: 0s;
  transition-property: transform margin-bottom height;
}

nav.menu button {
  padding: 0;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  width: 10%;
}

nav.menu ul {
  display: flex ; /* Affiche les éléments du menu en ligne */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2vw;
  padding-top: 1vw;
}
nav.menu li {
  flex-wrap: nowrap;
  display: inline-table;
  padding-left: 1vw;
}

nav.menu li a {
  padding-left: 0.5vw;
  border-radius: 25% 10%;
  display: block;
  /* padding-right: 1vw; */
  text-decoration: none;
  font-size: 5vw;
  color: #fff;
  transition-duration: 1s;
  transition-property: color background-color transform margin box-shadow;
  /* font-weight: bold; */
}

nav.menu li a:hover {
  /* font-family: 'Pixelogist', sans-serif; */
  color: #000000;
  background-color: #e8e8e8;
  transform: scale(1.1);
  margin-left: 1vw;
  margin-right: 1vw;
  box-shadow: 0em 0em 0.3em 0.1em #e8e8e8;
  /* transform: scaleY(0.8); */
}


/* Test sidebar camera */

nav.camera {
  z-index: 1;
  border-radius: 200% 200% 200% 200%;
  /* background-color: #0a0a0a; */
  width: 10%;
  margin-bottom: 0%;
  height: 1vh;
  /* padding-left: 100px; */
   /* padding-right: 1vw;  */


}

nav.camera[autohide="true"]:hover {
  margin-bottom: 0%;
  /* height: 15%; */
  /* transform: translateX(0); */
  transition-delay: 0s;
  /* transition-property: transform margin-bottom height; */
}

nav.camera[autohide="true"] {
  height: 3%;
  transition-duration: 1s;
  transition-timing-function: ease;
  /* transform: translateX(-30%); */
  /* margin-bottom: -5%; */
  transition-delay: 0s;
  transition-property: transform margin-bottom height;
}

nav.camera button {
  padding: 0;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  width: 10%;
}

nav.camera ul {
  display: grid ; /* Affiche les éléments du menu en ligne */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2vw;
  padding-top: 1vw;
  
}
nav.camera li {
  flex-wrap: nowrap;
  display: inline-table;
  padding-left: 1vw;
}

nav.camera li a {
  padding-left: 0;
  border-radius: 25% 10%;
  display: block;
  padding-right: 10vw;
  text-decoration: none;
  font-size: 5vw;
  color: #fff;
  transition-duration: 1s;
  transition-property: color background-color transform margin box-shadow;
  /* font-weight: bold; */
}

nav.camera li a:hover {
  /* font-family: 'Pixelogist', sans-serif; */
  color: #000000;
  background-color: #e8e8e8;
  transform: scale(1.1);
  margin-left: 1vw;
  margin-right: 1vw;
  box-shadow: 0em 0em 0.3em 0.1em #e8e8e8;
  /* transform: scaleY(0.8); */
}

/* fin test  */